{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dock | URL Shortenening Service</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="{% static "shortener/styles.css" %}">
	<script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
	<link rel='shortcut icon' href="{% static "shortener/favicon.ico" %}" type="image/x-icon">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<header>
	  <nav class="black pinned" style="z-index:1000;">
	    <div class="container grey darken-4">
	      <div class="nav-wrapper">
	        <a href="{% url 'home' %}" class="brand-logo thickfont">Dock</a>
	        <ul class="right hide-on-med-and-down">
	          <li><a href="#about" class="thinfont smtext">About</a></li>
	          <li><a href="#stats" class="thinfont smtext">Stats</a></li>
	          <li><a href="#connect" class="thinfont smtext">Connect</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	</header>

	<main>	    
	    <div class="parallax-container" id="start">
	    	<div class="parallax white-text">
	    		<img src="{% static "shortener/topimg.jpg" %}" style="z-index: -999;">
	    		<img src="{% static "shortener/dock-logo.png" %}" style="z-index: -900;height:50%;width:50%;">
	    		<br/><br/><br/><br/>
	    		<h1 class="center-align thickfont white-text bigtext shadowed">Dock</h1>
	    		<h5 class="center-align thinfont white-text shadowed">Yet another URL shortener</h5>
	    		<br/><br/><br/>
	    		{% block forerror %}
	    		{% endblock %}
	    	</div>
	    </div>

	    {% block otherpanels %}
	    <div class="section white" id="about">
	    <div class="row container" style="height: 20rem;">
	      <ul id="about-items">
	      <li style="opacity:0;"><h2 class="header thickfont">About</h2></li>
	      <li style="opacity:0;"><p class="black-text thinfont medfont" style="max-width: 1000px; word-wrap: break-word;">
	      	 <i>dock</i> &emsp;|&emsp;/däk/&emsp;|&emsp;verb&emsp;|<br/> - to cut short <br/> - to take away a part of
	      	 <br />
	      	 <small>(From <a href="https://www.merriam-webster.com/dictionary/dock">Merriam-Webster's 3rd definition</a>)</small>
		<br /><br />
	      	<b><i>Dock</i> is basically yet another URL shortener, similar to <a href="https://bitly.com/">Bitly</a>. 
		<br /><br />
		Turn a long URL like this:
		<br />
		https://www.youtube.com/watch?v=QslJYDX3o8s&amp;list=PLBDeA3o056yyMUiRG3xCXaSDan_bGG-Ho
		<br /><br />
		Into something like this:
		<br />
		http://dockr.herokuapp.com/a5dfmp
		<br /><br />
	      	This way, links are more manageable, easier to share, and kept secret. 
	      	<br />
	      	Dock is a school project, made with the use of <a href="https://www.djangoproject.com/">Django</a> and <a href="http://materializecss.com/">MaterializeCSS</a>.</b> 
	      </p></li>
	      </ul>
	      </div>
	    </div>
	

	{% block headercard %}
    	{% endblock %}
	 
	 
	    <div class="parallax-container" id="stats">
	    	<div class="parallax white-text">
	    		<img src="{% static "shortener/lowimg.jpg" %}" style="z-index: -999;">
	    		<br/><br/><br/><br/><br/>
	    		<ul id="stats-items">	    		
	    		<li style="opacity:0;"><h5 class="center-align thickfont white-text shadowed" style="font-size: 4.2em;">We have served:</h5></li>
	    		<br/><br/>
	    		<h5 class="center-align thinfont white-text shadowed medtext" style="font-size: 3.5em;"><span class="Count">{{ links }}</span> shortened links</h5></li>
	    		<br/><br/>
	    		<li style="opacity:0;"><h5 class="center-align thinfont white-text shadowed" style="font-size: 3.5em;"><span class="Count">{{ count__sum }}</span> redirects</h5></li>
	    		<br/><br/>
	    		<li style="opacity:0;"><h5 class="center-align thinfont white-text shadowed smtext">... and growing :)</h5></li>
	    		</ul>
	    	</div>
	    </div>
	    {% endblock %}
    </main>

    <footer class="page-footer grey darken-4" id="connect">
      <div class="container">
        <div class="row">
          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text thickfont">Developer's Note</h5> 
            <p class="white-text">Apparently, Dock does not work as well as intended, because it is currently hosted with Heroku's free package, hence the long domain name. Hopefully, this will be resolved soon :)</p>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text thickfont">Suggestions? Comments? Bugs?</h5>
            <a href="https://twitter.com/intent/tweet?screen_name=sbenemerito" class="twitter-mention-button" data-show-count="false" data-size="large">Tweet to @sbenemerito</a>
            <br>
            <br>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text thickfont">Available on GitHub</h5> <br/>
            <a class="github-button" href="https://github.com/sbenemerito" data-style="mega" data-count-href="/sbenemerito/followers" data-count-api="/users/sbenemerito#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @nsbenemerito on GitHub">Follow @sbenemerito</a><br />
            <a class="github-button" href="https://github.com/sbenemerito/dock/fork" data-style="mega" data-count-href="/sbenemerito/dock/network" data-count-api="/repos/sbenemerito/dock#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork sbenemerito/dock on GitHub">Fork</a><br />
          </div>
        </div>
      </div>
      <div class="footer-copyright black thinfont">
        <div class="container">
        Benemerito © 2017
        <a class="white-text right" href="#start" style="text-decoration: none;"><i class="material-icons tiny left">arrow_upward</i> Back to top</a>
        </div>
      </div>
    </footer>

	
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
     <script src="{% static "shortener/scripts.js" %}"></script>    
</body>
</html>